/*
Stylesheet for use with org-mode HTML export.
To use, include the following lines at the top of your org file:
#+OPTIONS: html-style:nil
#+OPTIONS: num:nil
#+HTML_HEAD: <link rel="stylesheet" type="text/css" href="https://adamvig.com/css/adamvig-org-mode-theme.css">

The first line disables the default styling. The second line disables section numbers in headlines. The third line links to this stylesheet.
*/

body {
    font-family: serif;
    max-width: 70ch;
    padding: 1ch;
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
img {
    max-width: 100%;
}
@media (min-width: 350px) {
    body {
        padding: 2ch;
    }
}
.section-number-1,
.section-number-2,
.section-number-3,
.section-number-4,
.section-number-5,
.section-number-6,
.section-number-7,
.section-number-8,
.section-number-9,
.section-number-10,
.section-number-11,
.section-number-12,
.section-number-13,
.section-number-14,
.section-number-15,
.section-number-16 {
  display: none;
}
