header {
  height: 15%;
  padding-top: 30px;
  text-align: center; }
header button {
  color: #222;
  border-color: #222; }

body {
  overflow: hidden;
  -webkit-transition: background-color 1s ease;
          transition: background-color 1s ease; }
body.default {
  background-color: rgba(0, 255, 25, 0.5); }
body.dark {
  background-color: rgba(73, 81, 82, 1.0);}
.dark .timer-display {
  color: rgba(149, 165, 166, 1.0); }
main {
  height: 80%; }
.timer-display {
  margin-top: -75px;
  font-size: 40rem;
  text-align: center; }

@-webkit-keyframes fade-in-out {
  0% { opacity: 0.75; }
  100% { opacity: 0.5; }
}
@keyframes fade-in-out {
  0% { opacity: 0.75; }
  100% { opacity: 0.5; }
}
.fade-in-out {
  opacity: 1;
  transition: opacity 0.25s ease;
  -webkit-animation: fade-in-out 1s infinite alternate ease-in-out;
          animation: fade-in-out 1s infinite alternate ease-in-out; }
