html,
body,
main {
    height: 100%;
}
body {
    margin: 0;
    background-color: #aaa;
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #eee;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px,
                 rgba(0, 0, 0, 0.5) -1px -1px 10px;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.add {
    animation: fadeIn 100ms ease-in-out;
}
.remove {
    animation: fadeOut 500ms ease-in-out;
}
.hidden {
    opacity: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
}
@keyframes fadeOut {
    to { opacity: 0; }
}
